body{
    background-size: cover;
}
.konten{
    background: white;
    width: 80%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}
.formGue{
    width: 50%;
}
