.formGue{
    position: relative;
    padding: 15px;   
}
.jdl{
    /* background: #8650db; */
    position: absolute;
    left:50%;
    top:-5px;
    padding: 5px;
    /* margin : 5px; */
    margin-bottom: 20px;
    color:#8650db;
    background: white;
    text-align: center;
    font-size: 18px;
    transform: translate(-50%);
}
.bordered{
    display: flex;
    flex-direction: column;
    border: 1px solid #8650db;
    border-radius: 15px;
    padding: 20px;
}
.txtIn, .bttn{
    font-size: 15px;
    margin : 5px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 50px;
    outline:none;
}
.txtIn{
    border: 1px solid #8650db;
}
    .txtIn:focus{
        border: 1px solid #202020;
    }
.bttn{
    cursor: pointer;
    background: #bdbdbd;
    border:none;
    border-radius: 50px;
    padding: 10px;
    margin: 0 35%;
    transition: ease-in-out 0.2s;
}
    .bttn:hover{
        background: #202020;
        color: white;
    }