.kontenRear{
    position: absolute;
    width:100%;
    height: 100%;
}
.kontenGambar{
    top: 50px;  
}
.kontenFront{
    position: absolute;
    padding: 20px 20px 50px 20px;
    width : 35%;
    top : 50%;
    left: 50%;
    transform: translate(-50%,-30%);
    display : flex;
    flex-direction: column;
    justify-content: center;
    background: #ffffff;
    border-radius: 10px;
}
.separatorRow{
    width: 100%;    
    height: 100px;
}