.kontenKiri{
    width:65%;
    display: flex;
    flex-direction: column;

}
.kontenKanan{
    padding: 5px 30px;
    width : 35%;
    display : flex;
    flex-direction: column;
    justify-content: center;
}
.separatorRow{
    width: 100%;    
    height: 100px;
}