html{
    font-family: Helvetica;
}
body{
    margin : 0;
    min-height: 100%;
    width: 100%;
    background: white;
    /* background-image: url('../../../Exercise-1/assets/img/body.png'); */
}
.topHeader{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top : 0;
    width: 100%;
    height: 65px;
    background: black;
    color : white;
    z-index: 1;
}
    #topHeaderList{
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    .navLink{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color : white;
        height: 100%;
        padding: 0 25px;
        transition: ease-in-out 0.2s;
    }
        .navLink:hover{
            cursor: pointer;
            color: black;
            background: white;
        }
.konten{
    width: 100%;
    position: relative;
    top:65px;
    min-height: calc(100vh - 65px);
    display: flex;
}