/* @font-face {
    font-family: Amandita;
    src: url("../../../Exercise-1/assets/fonts/AmanditaPersonalUse.ttf");
} */
/* .styledTitle{
    font-family: Amandita;
    text-align: center;
    color: white;
    font-size: 32px;
} */
.kontainerGambar{
    background: white;    
    position: relative;
    width : 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    /* .kontainerGambar img{
        width: 100%;
        height: 100%;
    } */
    .gambarAktif{
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
        .kontenGambar{
            color: #eff5d4;  
            font-size: 36px;  
            padding: 8px 0;  
            position: absolute;  
            left:50%;
            transform: translateX(-50%);
            top: 20px;  
            width: 100%;  
            text-align: center; 
            /* background:  rgba(0, 0, 0, 0.8); */
            text-shadow: 0 0 5px rgb(0, 0, 0);
        }
            .kontainerGambar:hover{
                
            }
        .maju, .mundur{
            cursor: pointer;  
            position: absolute;  
            top: 0;  
            width: auto ;  
            height: 100%;
            padding: 0 16px;  
            /* margin-top: -22px;   */
            color: white;  
            font-weight: bold;  
            font-size: 18px;  
            transition: 0.6s ease;
            display: flex;  
            align-items: center;
            /* border-radius: 0 3px 3px 0;   */
        }
        .mundur{
            left: 0;  
            /* border-radius: 3px 0 0 3px;   */
        }
        .maju{
            right: 0;  
            /* border-radius: 3px 0 0 3px;   */
        }
            .mundur:hover, .maju:hover{
                background-color: white;
            }
        .dotKontainer{
            position: absolute;
            bottom : 0;
            left: 50%;
            transform: translateX(-50%);
        }
        .dotSlide{
            cursor: pointer;
        }
    .active{
        background-color: #717171;  
    }
    .fade{
        -webkit-animation-name: fade;  
        -webkit-animation-duration: 1.5s;  
        animation-name: fade;  
        animation-duration: 1.5s;  
    }
    @-webkit-keyframes fade{
        from {  
            opacity: 0;
            
        }  
        to {  
            opacity: 1;  
        }  
    }
    @keyframes fade {  
        from {  
            opacity: 0;  
        }  
        to {  
            opacity: 1;  
        }  
    }  